* {
    font-family: "Raleway", sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    background: aliceblue;
}
.center {
    text-align: center;
}
#title {
    font-family: "Poppins";
    font-size: 63px;
    background-color: lightcyan;
    color: rgb(32, 27, 27);
}
header h2 {
    font-size: 27px;
}
nav {
    text-align: center;
    background: rgb(32, 27, 27);
    padding: 0px 0px 10px 0px;
    margin-bottom: 19px;
}
.navbutton {
    display: inline-block;
    margin: 0px 10px;
    color: lightcyan;
}
.navbutton a {
    color: dimgray;
}
#imgdiv {
    background-color: transparent;
    margin: 0px 120px 50px 120px;
}
#image {
    margin: 0px auto;
    display: block;
    max-width: 80%;
    height: auto;
}
#img-caption p {
    font-size: 12px;
    font-style: italic;
    padding: 5px;
    text-align: justify;
    background-color: lightgray;
}
#img-caption {
    background: lightgray;
    opacity: 0.76;
    margin: 0px 120px 0px 80px;
    max-width: 400px;
    min-width: 150px;
    max-height: 300px;
    position: relative;
    bottom: 200px;
    left: 20px;
    z-index: 20;
}
.float-left {
    float: left;
    background: rgb(32, 27, 27);
    color: aliceblue;
}
#tribute-info {
    background: transparent;
    margin-bottom: 50px;
    position: relative;
    bottom: 120px;
}
.heading {
    font-weight: bold;
    background: rgb(32, 27, 27);
    color: aliceblue;
    padding: 3px 0px 3px 3px;
}
.subheading {
    font-weight: bold;
    background: rgb(32, 27, 27);
    color: aliceblue;
    max-width: 130px;
    padding: 3px 15px 3px 3px;
    margin: 3px 15px 0px 0px;
}
.block-styling {
    padding: 0px 0px;
    margin: 0px 80px;
}
article p {
    text-indent: 0px;
    text-align: justify;
}
.block-styling p {
    text-indent: 0px;
    text-align: justify;
    padding: 7px 7px;
}
h2 {
    font-size: 48px;
}
h4 {
    font-style: italic;
    font-size: 12px;
}
.timeline-block {
    background-color: transparent;
    position: relative;
    bottom: 120px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: 
        "head head head"
        "before before before"
        "column1 column2 column3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px auto auto;
    grid-gap: 25px;
    align-content: space-between;
    justify-content: space-between;
}
.timeline-head {
    grid-area: head;
}
.box-shadow {
    -webkit-box-shadow: 9px 8px 27px -5px rgba(92,92,92,1);
    -moz-box-shadow: 9px 8px 27px -5px rgba(92,92,92,1);
    box-shadow: 9px 8px 27px -5px rgba(92,92,92,1);
}
.timeline-before {
    grid-area: before;
    background: transparent;
}   
.timeline-column {
    padding: 0px 0px;
    font-size: 14px;
}
.timeline-column p {
    margin: 0px 0px;
}
#timeline2 {
    background: lightcyan;
    grid-area: column1;
}
#timeline3 {
    background: lightgoldenrodyellow;
    grid-area: column2;
}
#timeline4 {
    background: lightcyan;
    grid-area: column3;
}

#bio {
    background: lightgreen;
    position: relative;
    bottom: 120px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: 
        "head head"
        "portrait top"
        "portrait middle"
        "portrait bottom";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 40px auto auto auto;
    grid-gap: 0px;
    align-content: space-between;
    justify-content: space-between;
    z-index: 0;
}
#bio-title{
    grid-area: head;
}
#portrait-box {
    background: lightgoldenrodyellow;
    grid-area: portrait;
}
#portrait {
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    display: block;
}
#quote {
    grid-area: top;
    background: lightcyan;
}
#quick-facts {
    grid-area: middle;
    background: lightpink;
}
#achievements {
    grid-area: bottom;
    background: lightsalmon
}



#tribute-link {
    background: lightgoldenrodyellow;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    bottom: 120px;
}
#tribute-link li {
    font-size: 12px;
    display: inline-block;
}
footer {
    text-align: center;
    background-color: transparent;
    padding: 14px 0px;
    font-size: 12px;
}


@media (max-width: 800px) {
    .timeline-block {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "head"
            "before"
            "column1"
            "column2"
            "column3";
        bottom: 0px;
    }
    #img-caption {
        position: relative;
        display: none;
    }
    #tribute-info {
        bottom: 0px;
    }
    #tribute-link {
        bottom: 0px;
    }

    #bio {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "head"
            "portrait"
            "top"
            "middle"
            "bottom";
        bottom: 0;
        margin-bottom: 50px;
    }
}